.county-card {
  width: 85%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fefefe;
  border: 5px solid #eee;
  border-radius: 5px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
  color: #9a9a9a;
  cursor: pointer;
  transition: all .25s;
}

.card-grid .county-card:hover {
  border: 5px solid #ab4c4c;
  transition: .25s;
}

.county-name {
  text-align: center;
  width: 100%;
  padding: 15px 0;
  margin: 0;
  background-color: #aaa;
  color: #f7f7f7;
  font-family: 'Sansita'
}

.county-stats {
  list-style: none;
  padding: 0;
}

.county-stats li {
  border-bottom: 1px solid #f7f7f7;
  padding: 2px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.county-stats li > * {
  margin: 0 5px;
}

.redStat {
  font-weight: 900;
  color: #777;
}

@media screen and (min-width: 600px) {

  .county-card-wrap {
    width: 50%;
  }
}


@media screen and (min-width: 768px) {

  .card-grid {
    justify-content: center;
  }

  .county-card-wrap {
    width: 33%;
  }
}
